.text-button {
  --md-comp-button-bg-color: unset;
  --md-comp-button-color: hsl(var(--md-sys-color-primary));
  padding: 10px 12px;
}

.text-button:global(.with-icon) {
  padding: 0 16px 0 12px;
}

 .text-button:disabled {
  --md-comp-button-color: hsl(var(--md-sys-state-disabled-content-color));
  --md-comp-button-bg-color: hsl(var(--md-sys-state-disabled-content-color));
  background: none;
  box-shadow: none;
}

.text-button:disabled :global(.state-overlay) {
  opacity: 0;
}