
.filled-button {
  --md-comp-button-bg-color: hsl(var(--md-sys-color-primary));
  --md-comp-button-color: hsl(var(--md-sys-color-on-primary));
}

.filled-button:hover {
  box-shadow: var(--md-sys-elevation-1);
}

.filled-button:disabled:hover {
  box-shadow: none;
}

.filled-button:focus {
  box-shadow: none;
}