.button {
  --md-comp-button-bg-color: hsl(var(--md-sys-color-surface));
  --md-comp-button-color: hsl(var(--md-sys-color-on-surface));
  background: var(--md-comp-button-bg-color);
  border: 0;
  border-radius: var(--md-sys-shape-corner-full);
  padding: 0 24px;
  height: 40px;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.button :global(.state-overlay) {
  background-color: var(--md-comp-button-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.button :global(.content) {
  color: var(--md-comp-button-color);
  position: relative;
  z-index: 1;
}

.button:global(.with-icon) {
  padding: 0 24px 0 16px;
}

.button.text:global(.with-icon) {
  padding: 0 16px 0 12px;
}

.button:global(.with-icon) :global(.content) {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button :global(.content) :global(.material-symbols-rounded) {
  font-size: 18px;
}

.button:hover :global(.state-overlay) {
  opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.button:focus :global(.state-overlay) {
  opacity: var(--md-sys-state-focused-state-layer-opacity);
}

.button:disabled {
  --md-comp-button-color: hsl(var(--md-sys-state-disabled-content-color));
  --md-comp-button-bg-color: hsl(var(--md-sys-state-disabled-content-color));
  background: none;
  box-shadow: none;
}

.button.outlined:disabled {
  border-color: hsla(var(--md-sys-state-disabled-container-color), var(--md-sys-state-disabled-container-opacity));
}

.button:disabled :global(.state-overlay) {
  opacity: var(--md-sys-state-disabled-container-opacity);
}

.button:disabled :global(.content) {
  opacity: var(--md-sys-state-disabled-content-opacity);
}
