.fab {
  --md-fab-container-color: var(--md-sys-color-primary-container);
  --md-fab-icon-color: var(--md-sys-color-on-primary-container);

  background: hsl(var(--md-fab-container-color));

  :global(.state-overlay) {
    background: hsl(var(--md-fab-icon-color));
  }
  
  :global(.material-symbols-rounded) {
    color: hsl(var(--md-fab-icon-color))
  }
}

.color-primary {
  --md-fab-container-color: var(--md-sys-color-primary-container);
  --md-fab-icon-color: var(--md-sys-color-on-primary-container);
}

.color-surface {
  --md-fab-container-color: var(--md-sys-color-surface);
  --md-fab-icon-color: var(--md-sys-color-primary);
}

.color-secondary {
  --md-fab-container-color: var(--md-sys-color-secondary-container);
  --md-fab-icon-color: var(--md-sys-color-on-secondary-container);
}

.color-tertiary {
  --md-fab-container-color: var(--md-sys-color-tertiary-container);
  --md-fab-icon-color: var(--md-sys-color-on-tertiary-container);
}


