:root {
  /* Hover state layer opacity 8% */
  --md-sys-state-hover-state-layer-opacity: 0.08;

  /* Focus state layer opacity 12% */
  --md-sys-state-focused-state-layer-opacity: 0.12;

  /* Focus pressed layer opacity 12% */
  --md-sys-state-pressed-state-layer-opacity: 0.12;

  /* Dragged state layer opacity 16% */
  --md-sys-state-dragged-state-layer-opacity: 0.16;

  /* Disabled color on-surface */
  --md-sys-state-disabled-container-color: var(--md-sys-color-on-surface);
  --md-sys-state-disabled-content-color: var(--md-sys-color-on-surface);
  --md-sys-state-disabled-container-opacity: 0.12;
  --md-sys-state-disabled-content-opacity: 0.38;
}