:root {
  --md-source: 162, 82%, 40%; /* hsl(162, 82%, 40%) */
  /* primary */
  --md-ref-palette-primary0: 0, 0%, 0%; /*hsl(0, 0%, 0%)*/
  --md-ref-palette-primary5: 154, 100%, 4%; /*hsl(154, 100%, 4%) */
  --md-ref-palette-primary10: 158, 100%, 6%; /*hsl(158, 100%, 6%) */
  --md-ref-palette-primary15: 272, 83%, 21%; /*hsl(272, 83%, 21%) */
  --md-ref-palette-primary20: 161, 100%, 11%; /*hsl(161, 100%, 11%);*/
  --md-ref-palette-primary25: 161, 100%, 14%; /*hsl(161, 100%, 14%);*/
  --md-ref-palette-primary30: 162, 100%, 16%; /*hsl(162, 100%, 16%); */
  --md-ref-palette-primary35: 162, 100%, 19%; /*hsl(162, 100%, 19%)*/
  --md-ref-palette-primary40: 163, 100%, 21%; /*hsl(163, 100%, 21%)*/
  --md-ref-palette-primary50: 163, 100%, 27%; /*hsl(163, 100%, 27%)*/
  --md-ref-palette-primary60: 163, 100%, 32%; /*hsl(163, 100%, 32%)*/
  --md-ref-palette-primary70: 160, 66%, 46%; /*hsl(160, 66%, 46%)*/
  --md-ref-palette-primary80: 158, 68%, 59%; /*hsl(158, 68%, 59%)*/
  --md-ref-palette-primary90: 156, 95%, 71%; /*hsl(156, 95%, 71%)*/
  --md-ref-palette-primary95: 150, 100%, 87%; /*hsl(150, 100%, 87%)*/
  --md-ref-palette-primary98: 145, 100%, 95%; /*hsl(145, 100%, 95%)*/
  --md-ref-palette-primary99: 136, 100%, 98%; /*hsl(136, 100%, 98%)*/
  --md-ref-palette-primary100: 0, 0%, 100%; /*hsl(0, 0%, 100%)*/

  /* secondary */
  --md-ref-palette-secondary0: 0, 0%, 0%; /*hsl(0, 0%, 0%)*/
  --md-ref-palette-secondary5: 153, 91%, 4%; /*hsl(153, 91%, 4%)*/
  --md-ref-palette-secondary10: 154, 56%, 8%; /*hsl(154, 56%, 8%)*/
  --md-ref-palette-secondary15: 270, 21%, 17%; /*hsl(270, 21%, 17%)*/
  --md-ref-palette-secondary20: 153, 26%, 16%; /*hsl(153, 26%, 16%)*/
  --md-ref-palette-secondary25: 150, 21%, 21%; /*hsl(150, 21%, 21%)*/
  --md-ref-palette-secondary30: 150, 17%, 25%; /*hsl(150, 17%, 25%)*/
  --md-ref-palette-secondary35: 150, 14%, 30%; /*hsl(150, 14%, 30%)*/
  --md-ref-palette-secondary40: 150, 13%, 35%; /*hsl(150, 13%, 35%)*/
  --md-ref-palette-secondary50: 149, 10%, 44%; /*hsl(149, 10%, 44%)*/
  --md-ref-palette-secondary60: 147, 10%, 54%; /*hsl(147, 10%, 54%)*/
  --md-ref-palette-secondary70: 146, 14%, 65%; /*hsl(146, 14%, 65%)*/
  --md-ref-palette-secondary80: 146, 20%, 75%; /*hsl(146, 20%, 75%)*/
  --md-ref-palette-secondary90: 143, 37%, 86%; /*hsl(143, 37%, 86%)*/
  --md-ref-palette-secondary95: 143, 62%, 92%; /*hsl(143, 62%, 92%)*/
  --md-ref-palette-secondary98: 145, 100%, 95%; /*hsl(145, 100%, 95%)*/
  --md-ref-palette-secondary99: 136, 100%, 98%; /*hsl(136, 100%, 98%)*/
  --md-ref-palette-secondary100: 0, 0%, 100%; /*hsl(0, 0%, 100%)*/

  /* tertiary */
  --md-ref-palette-tertiary0: 0, 0%, 0%; /*hsl(0, 0%, 0%) */
  --md-ref-palette-tertiary5: 198, 100%, 5%; /* hsl(198, 100%, 5%) */
  --md-ref-palette-tertiary10: 195, 100%, 8%; /* hsl(195, 100%, 8%) */
  --md-ref-palette-tertiary15: 349, 42%, 17%; /* hsl(349, 42%, 17%) */
  --md-ref-palette-tertiary20: 195, 79%, 15%; /* hsl(195, 79%, 15%) */
  --md-ref-palette-tertiary25: 196, 55%, 20%; /* hsl(196, 55%, 20%) */
  --md-ref-palette-tertiary30: 198, 42%, 25%; /* hsl(198, 42%, 25%) */
  --md-ref-palette-tertiary35: 198, 36%, 30%; /* hsl(198, 36%, 30%) */
  --md-ref-palette-tertiary40: 199, 30%, 35%; /* hsl(199, 30%, 35%) */
  --md-ref-palette-tertiary50: 199, 24%, 45%; /* hsl(199, 24%, 45%) */
  --md-ref-palette-tertiary60: 199, 24%, 55%; /* hsl(199, 24%, 55%) */
  --md-ref-palette-tertiary70: 199, 32%, 65%; /* hsl(199, 32%, 65%) */
  --md-ref-palette-tertiary80: 200, 48%, 76%; /* hsl(200, 48%, 76%) */
  --md-ref-palette-tertiary90: 200, 91%, 87%; /* hsl(200, 91%, 87%) */
  --md-ref-palette-tertiary95: 201, 100%, 94%; /* hsl(201, 100%, 94%) */
  --md-ref-palette-tertiary98: 205, 100%, 98%; /* hsl(205, 100%, 98%) */
  --md-ref-palette-tertiary99: 216, 100%, 99%; /* hsl(216, 100%, 99%) */
  --md-ref-palette-tertiary100: 0, 0%, 100%; /* hsl(0, 0%, 100%) */

  /* error */
  --md-ref-palette-error0: 0, 0%, 0%; /* hsl(0, 0%, 0%)*/
  --md-ref-palette-error5: 359, 100%, 9%; /* hsl(359, 100%, 9%)*/
  --md-ref-palette-error10: 358, 100%, 13%; /* hsl(358, 100%, 13%)*/
  --md-ref-palette-error15: 358, 100%, 16%; /* hsl(358, 100%, 16%)*/
  --md-ref-palette-error20: 357, 100%, 21%; /* hsl(357, 100%, 21%)*/
  --md-ref-palette-error25: 357, 100%, 25%; /* hsl(357, 100%, 25%)*/
  --md-ref-palette-error30: 356, 100%, 29%; /* hsl(356, 100%, 29%)*/
  --md-ref-palette-error35: 357, 92%, 34%; /* hsl(357, 92%, 34%)*/
  --md-ref-palette-error40: 0, 75%, 42%; /* hsl(0, 75%, 42%)*/
  --md-ref-palette-error50: 2, 73%, 53%; /* hsl(2, 73%, 53%)*/
  --md-ref-palette-error60: 4, 100%, 64%; /* hsl(4, 100%, 64%)*/
  --md-ref-palette-error70: 6, 100%, 75%; /* hsl(6, 100%, 75%)*/
  --md-ref-palette-error80: 6, 100%, 84%; /* hsl(6, 100%, 84%)*/
  --md-ref-palette-error90: 6, 100%, 92%; /* hsl(6, 100%, 92%)*/
  --md-ref-palette-error95: 9, 100%, 96%; /* hsl(9, 100%, 96%)*/
  --md-ref-palette-error98: 7, 100%, 98%; /* hsl(7, 100%, 98%)*/
  --md-ref-palette-error99: 300, 100%, 99%; /* hsl(300, 100%, 99%)*/
  --md-ref-palette-error100: 0, 0%, 100%; /* hsl(0, 0%, 100%)*/

  /* neutral */
  --md-ref-palette-neutral0: 0, 0%, 0%; /* hsl(0, 0%, 0%)*/
  --md-ref-palette-neutral5: 150, 13%, 6%; /* hsl(150, 13%, 6%)*/
  --md-ref-palette-neutral10: 140, 6%, 10%; /* hsl(140, 6%, 10%)*/
  --md-ref-palette-neutral15: 280, 4%, 15%; /* hsl(280, 4%, 15%)*/
  --md-ref-palette-neutral20: 140, 3%, 19%; /* hsl(140, 3%, 19%)*/
  --md-ref-palette-neutral25: 140, 3%, 23%; /* hsl(140, 3%, 23%)*/
  --md-ref-palette-neutral30: 135, 3%, 27%; /* hsl(135, 3%, 27%)*/
  --md-ref-palette-neutral35: 120, 2%, 32%; /* hsl(120, 2%, 32%)*/
  --md-ref-palette-neutral40: 120, 2%, 37%; /* hsl(120, 2%, 37%)*/
  --md-ref-palette-neutral50: 120, 1%, 46%; /* hsl(120, 1%, 46%)*/
  --md-ref-palette-neutral60: 100, 1%, 56%; /* hsl(100, 1%, 56%)*/
  --md-ref-palette-neutral70: 105, 2%, 67%; /* hsl(105, 2%, 67%)*/
  --md-ref-palette-neutral80: 90, 3%, 77%; /* hsl(90, 3%, 77%)*/
  --md-ref-palette-neutral90: 90, 7%, 88%; /* hsl(90, 7%, 88%)*/
  --md-ref-palette-neutral95: 90, 12%, 94%; /* hsl(90, 12%, 94%)*/
  --md-ref-palette-neutral98: 90, 29%, 97%; /* hsl(90, 29%, 97%)*/
  --md-ref-palette-neutral99: 90, 50%, 98%; /* hsl(90, 50%, 98%)*/
  --md-ref-palette-neutral100: 0, 0%, 100%; /* hsl(0, 0%, 100%)*/

  /* neutral-variant */
  --md-ref-palette-neutral-variant0: 0, 0%, 0%; /* hsl(0, 0%, 0%)*/
  --md-ref-palette-neutral-variant5: 153, 31%, 6%; /* hsl(153, 31%, 6%)*/
  --md-ref-palette-neutral-variant10: 150, 16%, 10%; /* hsl(150, 16%, 10%)*/
  --md-ref-palette-neutral-variant15: 278, 10%, 16%; /* hsl(278, 10%, 16%)*/
  --md-ref-palette-neutral-variant20: 143, 9%, 18%; /* hsl(143, 9%, 18%)*/
  --md-ref-palette-neutral-variant25: 142, 7%, 22%; /* hsl(142, 7%, 22%)*/
  --md-ref-palette-neutral-variant30: 147, 7%, 27%; /* hsl(147, 7%, 27%)*/
  --md-ref-palette-neutral-variant35: 144, 6%, 31%; /* hsl(144, 6%, 31%)*/
  --md-ref-palette-neutral-variant40: 147, 5%, 36%; /* hsl(147, 5%, 36%)*/
  --md-ref-palette-neutral-variant50: 140, 4%, 46%; /* hsl(140, 4%, 46%)*/
  --md-ref-palette-neutral-variant60: 140, 4%, 56%; /* hsl(140, 4%, 56%)*/
  --md-ref-palette-neutral-variant70: 140, 5%, 66%; /* hsl(140, 5%, 66%)*/
  --md-ref-palette-neutral-variant80: 138, 8%, 77%; /* hsl(138, 8%, 77%)*/
  --md-ref-palette-neutral-variant90: 132, 16%, 88%; /* hsl(132, 16%, 88%)*/
  --md-ref-palette-neutral-variant95: 133, 27%, 94%; /* hsl(133, 27%, 94%)*/
  --md-ref-palette-neutral-variant98: 132, 63%, 97%; /* hsl(132, 63%, 97%)*/
  --md-ref-palette-neutral-variant99: 132, 100%, 98%; /* hsl(132, 100%, 98%)*/
  --md-ref-palette-neutral-variant100: 0, 0%, 100%; /* hsl(0, 0%, 100%)*/

  /* light */
  --md-sys-color-primary-light: var(--md-ref-palette-primary40);
  --md-sys-color-primary-container-light: var(--md-ref-palette-primary90);
  --md-sys-color-on-primary-light: var(--md-ref-palette-primary100);
  --md-sys-color-on-primary-container-light: var(--md-ref-palette-primary10);
  --md-sys-color-secondary-light: var(--md-ref-palette-secondary40);
  --md-sys-color-secondary-container-light: var(--md-ref-palette-secondary90);
  --md-sys-color-on-secondary-light: var(--md-ref-palette-secondary100);
  --md-sys-color-on-secondary-container-light: var(--md-ref-palette-secondary10);
  --md-sys-color-tertiary-light: var(--md-ref-palette-tertiary40);
  --md-sys-color-tertiary-container-light: var(--md-ref-palette-tertiary90);
  --md-sys-color-on-tertiary-light: var(--md-ref-palette-tertiary100);
  --md-sys-color-on-tertiary-container-light: var(--md-ref-palette-tertiary10);
  --md-sys-color-error-light: var(--md-ref-palette-error40);
  --md-sys-color-error-container-light: var(--md-ref-palette-error90);
  --md-sys-color-on-error-light: var(--md-ref-palette-error100);
  --md-sys-color-on-error-container-light: var(--md-ref-palette-error10);
  --md-sys-color-outline-light: var(--md-ref-palette-neutral-variant50);
  --md-sys-color-background-light: var(--md-ref-palette-neutral99);
  --md-sys-color-on-background-light: var(--md-ref-palette-neutral10);
  --md-sys-color-surface-light: var(--md-ref-palette-neutral99);
  --md-sys-color-on-surface-light: var(--md-ref-palette-neutral10);
  --md-sys-color-surface-variant-light: var(--md-ref-palette-neutral-variant90);
  --md-sys-color-on-surface-variant-light: var(--md-ref-palette-neutral-variant30);
  --md-sys-color-inverse-surface-light: var(--md-ref-palette-neutral20);
  --md-sys-color-inverse-on-surface-light: var(--md-ref-palette-neutral95);
  --md-sys-color-inverse-primary-light: var(--md-ref-palette-primary80);
  --md-sys-color-shadow-light: var(--md-ref-palette-neutral0);
  --md-sys-color-surface-tint-light: var(--md-sys-color-primary-light);
  --md-sys-color-outline-variant-light: var(--md-ref-palette-neutral-variant80);
  --md-sys-color-scrim-light: var(--md-ref-palette-neutral0);

  /* dark */
  --md-sys-color-primary-dark: var(--md-ref-palette-primary80);
  --md-sys-color-primary-container-dark: var(--md-ref-palette-primary30);
  --md-sys-color-on-primary-dark: var(--md-ref-palette-primary20);
  --md-sys-color-on-primary-container-dark: var(--md-ref-palette-primary90);
  --md-sys-color-secondary-dark: var(--md-ref-palette-secondary80);
  --md-sys-color-secondary-container-dark: var(--md-ref-palette-secondary30);
  --md-sys-color-on-secondary-dark: var(--md-ref-palette-secondary20);
  --md-sys-color-on-secondary-container-dark: var(--md-ref-palette-secondary90);
  --md-sys-color-tertiary-dark: var(--md-ref-palette-tertiary80);
  --md-sys-color-tertiary-container-dark: var(--md-ref-palette-tertiary30);
  --md-sys-color-on-tertiary-dark: var(--md-ref-palette-tertiary20);
  --md-sys-color-on-tertiary-container-dark: var(--md-ref-palette-tertiary90);
  --md-sys-color-error-dark: var(--md-ref-palette-error80);
  --md-sys-color-error-container-dark: var(--md-ref-palette-error30);
  --md-sys-color-on-error-dark: var(--md-ref-palette-error20);
  --md-sys-color-on-error-container-dark: var(--md-ref-palette-error90);
  --md-sys-color-outline-dark: var(--md-ref-palette-neutral-variant60);
  --md-sys-color-background-dark: var(--md-ref-palette-neutral10);
  --md-sys-color-on-background-dark: var(--md-ref-palette-neutral90);
  --md-sys-color-surface-dark: var(--md-ref-palette-neutral10);
  --md-sys-color-on-surface-dark: var(--md-ref-palette-neutral90);
  --md-sys-color-surface-variant-dark: var(--md-ref-palette-neutral-variant30);
  --md-sys-color-on-surface-variant-dark: var(--md-ref-palette-neutral-variant80);
  --md-sys-color-inverse-surface-dark: var(--md-ref-palette-neutral90);
  --md-sys-color-inverse-on-surface-dark: var(--md-ref-palette-neutral20);
  --md-sys-color-inverse-primary-dark: var(--md-sys-color-primary-dark);
  --md-sys-color-shadow-dark: var(--md-ref-palette-neutral0);
  --md-sys-color-surface-tint-dark: var(--md-sys-color-primary-dark);
  --md-sys-color-outline-variant-dark: var(--md-ref-palette-neutral-variant30);
  --md-sys-color-scrim-dark: var(--md-ref-palette-neutral0);
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large 601px - 1294px */
  --md-sys-typescale-body-large-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium  */
  --md-sys-typescale-body-medium-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small <=600px */
  --md-sys-typescale-body-small-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 600;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 600;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 600;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 600;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: 'Source Sans Pro';
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 600;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}
