:root {
  /* elevations */
  --md-sys-elevation-0: none;
  --md-sys-elevation-1: 0px 1px 2px hsla(var(--md-sys-color-shadow), 0.3),
    0px 1px 3px 1px hsla(var(--md-sys-color-shadow), 0.15);
  --md-sys-elevation-2: 0px 1px 2px hsla(var(--md-sys-color-shadow), 0.3),
    0px 2px 6px 2px hsla(var(--md-sys-color-shadow), 0.15);
  --md-sys-elevation-3: 0px 4px 8px 3px hsla(var(--md-sys-color-shadow), 0.15),
    0px 1px 3px hsla(var(--md-sys-color-shadow), 0.3);
  --md-sys-elevation-4: 0px 6px 10px 4px hsla(var(--md-sys-color-shadow), 0.15),
    0px 2px 3px hsla(var(--md-sys-color-shadow), 0.3);
  --md-sys-elevation-5: 0px 8px 12px 6px hsla(var(--md-sys-color-shadow), 0.15),
    0px 4px 4px hsla(var(--md-sys-color-shadow), 0.3);

  /* background surfaces */
  /* +5% primary*/
  --md-sys-surface-1: linear-gradient(
      0deg,
      hsla(var(--md-sys-color-primary), 0.05),
      hsla(var(--md-sys-color-primary), 0.05)
    ),
    hsl(var(--md-sys-color-surface));

  /* +8% primary*/
  --md-sys-surface-2: linear-gradient(
      0deg,
      hsla(var(--md-sys-color-primary), 0.08),
      hsla(var(--md-sys-color-primary), 0.08)
    ),
    hsl(var(--md-sys-color-surface));

  /* +11% primary*/
  --md-sys-surface-2: linear-gradient(
      0deg,
      hsla(var(--md-sys-color-primary), 0.11),
      hsla(var(--md-sys-color-primary), 0.11)
    ),
    hsl(var(--md-sys-color-surface));

  /* +11% primary*/
  --md-sys-surface-2: linear-gradient(
      0deg,
      hsla(var(--md-sys-color-primary), 0.11),
      hsla(var(--md-sys-color-primary), 0.11)
    ),
    hsl(var(--md-sys-color-surface));

  /* +12% primary*/
  --md-sys-surface-2: linear-gradient(
      0deg,
      hsla(var(--md-sys-color-primary), 0.12),
      hsla(var(--md-sys-color-primary), 0.12)
    ),
    hsl(var(--md-sys-color-surface));

  /* +14% primary*/
  --md-sys-surface-2: linear-gradient(
      0deg,
      hsla(var(--md-sys-color-primary), 0.14),
      hsla(var(--md-sys-color-primary), 0.14)
    ),
    hsl(var(--md-sys-color-surface));
}
