.icon {
  --md-comp-icon-size: 20px;
  font-size: var(--md-comp-icon-size);
  color: inherit;
}

.icon.size-20 {
  --md-comp-icon-size: 20px;
}

.icon.size-24 {
  --md-comp-icon-size: 24px;
}

.icon.size-40 {
  --md-comp-icon-size: 40px;
}

.icon.size-48 {
  --md-comp-icon-size: 48px;
}
