@import url(styles/theme.css);

html {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

body {
  font-family: var(--md-sys-typescale-body-large-font-family-name);
}
