@import url(styles/theme.css);
@import url(styles/reset.css);

html {
  background: hsl(var(--md-sys-color-surface));
  color: hsl(var(--md-sys-color-on-surface));
}

body {
  font-family: var(--md-sys-typescale-body-large-font-family-name);
}
